<?php
// MySQL
define('DB_HOST', 'yourserver');
define('DB_USERNAME', 'yourusername');
define('DB_PASSWORD', 'yourpassword');
define('DB_NAME', 'yourdatabase');
// General propuse
define('PROTOCOL','http://');
define('DOMAIN','yourdomain.com');
define('EMAIL','yourname@yourdomain.com');
// Folders
define('ROUTESFOLDER','routes/');
// I use this constant to marked file integrity and know when/how
define('GENERATED',date("d/m/Y H:i:s T"));
?>
